// variables
@import "variables";

@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/worksans-regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/worksans-bold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/worksans-black.woff2');
    font-weight: 900;
}

/* Typography */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
  }
  @media screen and (min-width: 500px) and (min-height: 500px) {
    html, body {
      font-size: 20px;
    }

    footer {
        grid-template-columns: auto;
    }
  }
  @media screen and (min-width: 1000px) and (min-height: 800px) {
    html, body {
      font-size: 22px;
    }

    footer {
        grid-template-columns: auto;
    }
  }

  :root {
    --font-color: #{$font};
    --darker-font-color: #{$fontDarker};
    --background-color: #{$background};
    --quote-color: #{$blockquote};
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --font-color: #{$fontD};
      --darker-font-color: #{$fontDarkerD};
      --background-color: #{$backgroundD};
      --quote-color: #{$blockquoteD};
    }
    .subtitle, .title, .notice {
      color: #{$titleD};
    }
  }

body {
	color: var(--font-color);
	background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: 900;
  line-height: 1.25;
}
a {
  font-weight: 600;
  text-decoration: none;
  color: $link;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
b {
  font-weight: 600;
}
ul {
  margin-top: 0;
  margin-bottom: 0.5em;
  list-style: none;
}
ul {
  padding-left: 0;
}
p, li {
  margin-bottom: 1em;
}
hr {
  width: 50%;
  margin: 3em auto;
  color: #333;
}
small {
  color: var(--darker-font-color);
}
blockquote{
  background-color: var(--quote-color);
  padding-left: 1em;
  border-left: 2px solid var(--font-color);
}
.image {
  display: block;
  width: 100%;
  border-radius: 0.3rem;
}

/* Layout */
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
  }
  
  /* Singletons */
  .intro {
    background-color: #2ec27e;
    margin: 0 0 2rem;
    padding: 6rem 0 3rem;
    text-align: center;
  }
  .introIcon {
    margin: 0 auto 1rem;
  }
  .intro .container {
    max-width: 500px;
  }
  .title {
    font-size: 2em;
    line-height: 1;
  }
  @media screen and (min-width: 400px) {
    .title {
      font-size: 2.5em;
      line-height: 1.25;
    }
  }
  .subtitle {
    margin-top: 2em;
    font-size: 1em;
    font-weight: 600;
  }
  .caption {
    display: block;
    margin-top: 1rem;
  }
  
  .point-image {
    width: 100%;
    border-radius: 0.3rem;
  }
  .point > p {
    margin: 0.4rem 0 2rem;
  }
  @media screen and (min-width: 660px) {
    .point {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .point > p {
      margin: 0.4rem 0 1rem;
    }
    .point-image {
      flex-shrink: 0;
  
      max-width: 14rem;
      margin: 0.5rem 1rem 0.5rem 0;
    }
  }
  
  .join {
    background-color: #3d3846;
    color: white;
    margin: 5rem 0 0;
    padding: 2rem 0 6rem;
  }
  .join h2 {
    margin-top: 3rem;
  }
  .join a,
  footer a {
    color: #57e389;
  }
  .code-block {
    padding: 0.8rem;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    background-color: #241f31;
  }
  
  .notice {
    font-size: 0.7em;
    padding: 0rem 1rem;
    background-color: #f9f06b;
    border: 2px solid #f6d32d;
    border-radius: 0.3rem;
  }
  
/*  Header */
header ul, footer ul {
    margin: auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    color: var(--font-color);
    // padding: 1em 2em 1em 0;
    padding: 1em 2em;
    z-index: 999999;
    background: var(--background-color);

    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: auto auto;

    .headerLogo {
        line-height: 1;
        
        img {
            height: 2em;
        }
    }


    .linkGrid {
        display: grid;
        grid-auto-flow: column;
        margin-left: auto;
        column-gap: 2em;
        align-items: center;

        button {
            background: none;
            border: none;
            padding: 0;
            height: 24px;
            width: 24px;

            svg {
                stroke: $link;
                transition: .4s;
            }
        }

        button:hover svg {
            stroke: var(--font-color);
        }
    }
}


/* Footer */
footer {
    color: white;
    background-color: #241f31;
    text-align: center;
    padding: 5em 0 3em;
    font-size: 1em;

    display: grid;
    grid-template-columns: auto auto;
    margin-left: auto;
    margin-right: auto;


    .social {
        align-self: center;
        justify-self: center;

        li {
            float: left;
            margin: 0.5em;
        }
    }
}

/* main */
main {
    margin: 4em 0;
    min-height: 75vh;
}

/* post */
.intro .introIcon {
    height: 112px;
    width: 112px;
}

.postInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .caption {
        white-space: nowrap;
        stroke: $fontDarker;
        color: $fontDarker;
    }
}

article ul {
    list-style: initial;
    padding-left: 40px;
}

.giscus {
  padding-top: 4em;
}

/* list */
@media screen and (max-width:700px) {
    footer {
        grid-template-columns: auto;
    }
    .postInfo {
        flex-wrap: wrap;
        .caption {
            margin: 0;
        }
    }
}