<header>
    <a class="headerLogo" href="{{ .Site.Home.Permalink }}">
        {{ if .Site.Params.logo }}
        <img src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }}" />
        {{ else }}
        {{ .Site.Title }}
        {{ end }}
    </a>
       
    <div class="linkGrid">
        <!-- links -->
        {{ range .Site.Menus.main }}
        <a href="{{ .URL | relLangURL }}" class="showDesktop">{{ .Name }}</a>
        {{ end }}
        <!-- search toggle -->
        {{ if .Site.Params.enableSearch }}
        <input type="text" name="searchInpt" id="searchInpt" placeholder="Search...">
        <button type="button" aria-label="searchToggle">
            <i data-feather="search"></i>
            <i data-feather="x" class="hidden"></i>
        </button>
        {{ end }}
        <!-- theme toggle -->
        {{ if .Site.Params.darkModeToggle }}
        <button type="button" aria-label="darkModeSwitcher">
            <i data-feather="sun"></i>
        </button>
        {{ end }}
        <!-- menu toggle (only for mobile) -->
        <button class="showMobile" type="button" aria-label="menuToggle">
            <i data-feather="menu"></i>
        </button>
    </div>
</header>

{{ if .Site.Params.enableSearch }}
    {{ with resources.Get "js/fuse.min.js" }} <!--  | minify integrity="{{ .Data.Integrity }}" -->
    <script src="{{ .RelPermalink }}"></script>
    {{ end }}

    {{ with resources.Get "js/search.js" }} <!--  | minify integrity="{{ .Data.Integrity }}" -->
    <script src="{{ .RelPermalink }}"></script>
    {{ end }}
{{ end }}