<header>
    <a class="headerLogo" href="{{ .Site.Home.Permalink }}">
        {{ if .Site.Params.logo }}
        <img src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }}" />
        {{ else }}
        {{ .Site.Title }}
        {{ end }}
    </a>
       
    <div class="linkGrid">
        <!-- links -->
        {{ range .Site.Menus.main }}
        <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        {{ end }}
        <!-- theme toggle -->
        {{ if .Site.Params.darkModeToggle }}
        <button type="button">
            <i data-feather="sun"></i>
        </button>
        {{ end }}
    </div>
</header>