<!-- initialise the feather icons -->
<script>
    feather.replace();
</script>

<!-- init search -->
{{ if .Site.Params.enableSearch }}
    {{ $fuse := resources.Get "js/fuse.min.js" }}
    {{ $search := resources.Get "js/search.js" }}

    {{ $concatjs := slice $fuse $search | resources.Concat "js/scripts.js" | resources.Minify | fingerprint }}
    <script src="{{ $concatjs.Permalink }}" integrity="{{ .Data.Integrity }}"></script>
{{ end }}

<!-- toggle dark mode -->
{{ with resources.Get "js/darkmode.js" | minify | fingerprint }}
<script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
{{ end }}

<!-- toggle menu in mobile mode -->
<script>
  const menuBtn =  document.querySelector("button[aria-label='menuToggle']");
  const menu = document.querySelector(".menu[usage='menu']");

 menuBtn.addEventListener("click", () => {
      menu.classList.toggle('menuOpen');
  })
</script>